<!DOCTYPE html>
<html>
    <head>
        <title>Anneke's Blog</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>Photos</li>
                    <li>Blog Posts</li>
                    <li>About Anneke</li>
                </ul>
            </nav>
        </header>
        <div>
            <h1>Anneke Duin's Blog</h1>
        </div>
        <div>
            <time> published: 11.18.2023 </time>
            <h2><a href="#">My first post</a></h2>
            <p>What can we do with a <strong>drunken</strong> sailor, what can we do with a <em>drunken</em> sailor, what can we do with a drunken sailor ear-ly in the morning</p>
        </div>
        <div>
            <time> published: 11.18.2023 </time>
            <h2><a href="#">My second post</a></h2>
            <p>What can we do with a <strong>drunken</strong> sailor, what can we do with a <em>drunken</em> sailor, what can we do with a drunken sailor ear-ly in the morning</p>
        </div>
        <div>
            <time> published: 11.18.2023 </time>
            <h2><a href="#">My third post</a></h2>
            <p>What can we do with a <strong>drunken</strong> sailor, what can we do with a <em>drunken</em> sailor, what can we do with a drunken sailor ear-ly in the morning</p>
        </div>
        <div>
            <time> published: 11.18.2023 </time>
            <h2><a href="#">My fourth post</a></h2>
            <p>What can we do with a <strong>drunken</strong> sailor, what can we do with a <em>drunken</em> sailor, what can we do with a drunken sailor ear-ly in the morning</p>
        </div>
    </body>
</html>