<!DOCTYPE html>
<html>
    <head>
        <title>Anneke's Blog</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>Photos</li>
                    <li>Blog Posts</li>
                    <li>About Anneke</li>
                </ul>
            </nav>
        </header>
        <div>
            <h1>Anneke Duin's Blog</h1>
        </div>
        <div>
            <time> published: 11.18.2023 </time>
            <h2><a href="#">My first post</a></h2>
            <p>What can we do with a <strong>drunken</strong> sailor, what can we do with a <em>drunken</em> sailor, what can we do with a drunken sailor ear-ly in the morning</p>
        </div>
        <div>
            <time> published: 11.18.2023 </time>
            <h2><a href="#">My second post</a></h2>
            <p>Way hay and <strong>up</strong> she rises, way hay and <em>up</em> she rises, way hay and up she rises ear-ly in the morning</p>
        </div>
        <div>
            <time> published: 11.18.2023 </time>
            <h2><a href="#">My third post</a></h2>
            <p>Shave his belly with a <strong>rusty</strong> razor, shave his belly with a <em>rusty</em> razor, shave his belly with a rusty razor ear-ly in the morning</p>
        </div>
        <div>
            <time> published: 11.18.2023 </time>
            <h2><a href="#">My fourth post</a></h2>
            <p>Put him in a long boat til he's <strong>sober</strong>, put him in a long boat til he's <em>sober</em>, put him in a long boat til he's sober ear-ly in the morning</p>
        </div>
    </body>
</html>